<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="College_Student_Mgt_Syst.Properties.Settings.College_Student_Mgt_Syt_DBConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=College_Student_Mgt_Syt_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>